* {
  padding: 0;
  margin: 0;
  /* color: #424242; */
  /* touch-action: none; */
}

p {
  color: #424242;
}

/* .mint-header-title {
  font-size: 18px;
  color: #fff;
}

.mintui-search::before {
  font-size: 18px;
  color: #fff;
} */